<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Le monde du sport{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('foot.ico') }}" />
        <link rel="stylesheet" href="{{ asset('Resources/public/bootstrap-3.3.6-dist/css/bootstrap.min.css') }}">
        <script src="{{ asset('Resources/public/jquery-3.1.0.js')}}" type="text/javascript"></script>
        <script src="{{ asset('Resources/public/jquery.min.js') }}"></script>

    </head>
    <body>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>



